:root {
    --dark-color: #111111;
    --orange-color: #df9438
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-------------------aboutsection3-----------*/

.aboutsection3 {
    background-color: var(--dark-color);
}

.aboutsection3 .box{
    border:1px rgba(255, 255, 255, 0.382) solid;
    transition: .4s ease;
}

.aboutsection3 .box:hover{
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0px 0px 10px 1px rgb(143, 143, 143);
}


.aboutsection3 .mem1 {
    height: 70vh;
    overflow: hidden;
   
}

.aboutsection3 .mem1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-out;
}

.aboutsection3 .mem1:hover img{
    transform: rotate(10deg) scale(1.3);
}

/*-------------------aboutsection4-----------*/


.aboutsection4 {
    background-color: var(--dark-color);
}

.aboutsection4 .container .row .col {
    border: 1px gray solid;
    height: 60vh;
}

.aboutsection4 iframe {
    height: 100%;
}


.aboutsection5 .container .col {
    width: 400px;
    position: relative;

    height: 70vh;
}

.aboutsection5 .container .col img {
    width: 100%;
    height: 100%;
}

.aboutsection5 .container .col .name {
    position: absolute;
    border: 1px gray solid;
    height: fit-content;
    width: 80%;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%);
    background-color: var(--dark-color);

}

.aboutsection5 .container .col .innercol {
    background-color: rgba(0, 0, 0, 0.614);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: calc(0);
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    transition: .3s ease;


}

.aboutsection5 .container .col:hover .innercol {
    opacity: calc(1);
    transform: scale(.9);
}


@media screen and (max-width:600px) {


    .aboutsection5 .container .row {
      gap: 10vh;
    }

    .aboutsection5 .container .col {
    width: 400px;
    position: relative;
    height: 56vh;
}
}