@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-color: #111111;
    --orange-color: #df9438
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.orange {
    color: var(--orange-color);
}

.bgorange {
    background-color: var(--orange-color);
}

.notify {
    position: absolute;
    top: -20px;
    right: -10px;
    color: rgb(0, 0, 0);
    background-color: white;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    width: 20px;
    height: 20px;
}

.section1 {

    background: url(../../images/section1/bearded-man-playing-bass-guitar-with-spotlight-e1648202691415.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.section1 header {
    
    border-bottom: 1px solid gray;

}
.section1  .top{
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid gray;

}

.section1 .container1 .one,
.two {
    width: 40%;
}

.section1 .outercontainer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.585), rgba(0, 0, 0, 0.941));
}

/*-------------animation--------------*/

.section1 .guitaranimation {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    width: 200px;
    height: 600px;
    background: url(../../images/section1/guitar\ animat.png) no-repeat;
    background-position: center;
    background-size: contain;
    transition: 1s linear;
}

.section1 .heading {
    font-size: 2.5rem;
}

/* .section1 .guitaranimation:hover {

    transform: translate(-50%, -50%) rotate(20deg);
} */


/*-------------section-2---------------*/
.section2 {
    background-color: var(--dark-color);
}

.section2 .container1 {
    border-top: 1px solid rgba(128, 128, 128, 0.237);
    border-bottom: 1px solid rgba(128, 128, 128, 0.237);
}

.section2 .container1 .pic1 {
    border-left: 1px solid rgba(128, 128, 128, 0.237);
}

.section2 .container1 .pic1,
.pic2,
.pic3 {
    border-right: 1px solid rgba(128, 128, 128, 0.237);
}

.section2 .container1 .row img {
    width: 50%;
    height: 150px;
}

.section2 .container3 {
    background: url(../../images/section2/bitcoinimg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.section2 .container3 .container {
    background: linear-gradient(to bottom, black, rgba(128, 128, 128, 0.158));
    /* background-color: rgba(0, 0, 0, 0.568); */
}

/*-------------section-3---------------*/
.section3 {
    background-color: var(--dark-color);
}



.section3 .img {
    overflow: hidden;
}

.section3 .img img {
    transition: .3s ease;

}

.section3 .img:hover img {
    transform: scale(1.2) rotate(5deg);

}

.section3 .category .card .card-body {
    background-color: transparent;
}




.section3 .sales .one {
    cursor: pointer;
    border-radius: 50%;
    color: green;
    background-color: rgb(255, 255, 255);
}

.section3 .sales .heart {
    cursor: pointer;
    color: red;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.section3 .sales .three {

    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}



.section3 .cartlists .col button {
    background-color: var(--orange-color);
    font-size: .8rem;
}

.section3 .cart {
    overflow: hidden;
    transition: .3s ease;
    border: 1px gray solid;
    border-radius: 15px;
}

.section3 .sales {
    position: absolute;
    top: 0;
    right: -80px;
    transition: .3s ease;

}

.section3 .cart:hover {
    box-shadow: 0px 0px 5px 1px white;
}

.section3 .cart:hover .sales {
    right: 0;
}


/*-------------section-4---------------*/

.section4 {
    position: relative;
}

.section4 .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section4 .col .box button {
    background-color: var(--orange-color);
}

.section4 .gitar {
    background: url(../../images/section4/black-carbon-fiber-textured-material-design-e1648544450703.jpg) no-repeat;
    background-position: center;
    background-size: cover;

}

.section4 .gitar .clone {
    background: radial-gradient(rgba(0, 0, 0, 0.608), rgba(30, 30, 30, 0.69));
}

/*------------animation---------------*/

.section4 .animate {
    position: absolute;
    bottom: -20%;
    left: 10%;

    transform: rotate(30deg);
    width: 40%;
    height: 50%;
    background: url(../../images/section4/animate.png) no-repeat;
    background-position: center;
    background-size: contain;
    transition: .4s ease;

}

.section4 .animate:hover {
    transform: rotate(30deg) translateY(-20px);
}


/*-------------section-5---------------*/

.section5 {
    background-color: var(--dark-color);
}

.section5 .container .g1 {
    background: url(../../images/section5/electric-guitar-sounds-top-view-of-the-electric-guitar-body-against-of-the-wooden-floor-music-e1649228414708-1024x453.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.section5 .container .g2 {
    background: url(../../images/section5/two.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.section5 .container .g3 {
    background: url(../../images/section5/three.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}


/*-------------section-6---------------*/

.section6 {
    background: url(../../images/section6/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.section6 .container-fluid {
    background-color: rgba(0, 0, 0, 0.719);
}

.section6 .carousel {

    height: 60vh;
}

.section6 .carousel .box {
    background-color: var(--dark-color);
}


/*------------footer--------------*/

footer {
    background: url(../../images/footer/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

footer .container-fluid {
    background-color: rgba(19, 19, 19, 0.778);
}

footer .container .search {
    background-color: transparent;
    border: 1px solid rgb(74, 74, 74);
    color: white;
}

footer .container .search:focus {
    outline: none;
}

footer .container .btn {
    border: none;
}

footer .container1 {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: var(--dark-color);
    margin-bottom: 50vh;
    border: 1px solid gray;
}


footer .container .container2 {
    padding: 20vh 0 10vh 0;
}

footer .final {
    background-color: var(--orange-color);
}

footer .lin1 {
    font-size: 1rem;
}



@media screen and (max-width:800px) {


    .section1 .container1 .one,
    .two {
        width: 100%;
    }

    .section1 .guitaranimation {
        position: static;
        transform: none;
        width: 80%;

    }

    .section1 .heading {
        font-size: 1.6rem;
    }

    .section1 p {
        font-size: .7rem;
        font-weight: 300;
    }


    /*---------------section 2---------------*/

    .section2 .container1 .row img {
        width: 100%;
        height: 200px;
    }


    .section2 .container1 .pic1,
    .pic2,
    .pic3 {
        border: none;
    }

    .section2 .container1 h5 {
        font-size: .8rem;
        font-weight: 300;
    }

    .section2 .container2 p {
        font-size: .8rem;
    }

    .section2 .container3 p {
        font-size: .8rem;
    }


    /*---------------section 4---------------*/

    .section4 .animate {
        position: absolute;
        bottom: -30%;
        left: 10%;

        transform: rotate(30deg);
        width: 40%;
        height: 50%;
        background: url(../../images/section4/animate.png) no-repeat;
        background-position: center;
        background-size: contain;
        transition: .4s ease;

    }

    .section4 .clone p {
        font-weight: 300;
        font-size: .8rem;
    }



    .section6 p {
        font-size: .8rem;
    }

    .section6 .carousel .carousel-item .box {

        padding: 30px;
    }



    footer .container1 {

        position: static;
        top: -10%;
        left: 50%;
        transform: none;
        background-color: var(--dark-color);
        margin-bottom: 0px;

        border: 1px solid gray;
    }

    footer .container .container2 {
        padding: 10vh 0 10vh 0;
    }

    footer .lin1 {
        font-size: .7rem;
    }

    footer p {
        font-weight: 300;
        font-size: .8rem;
    }

    .section1 .guitaranimation:hover {
        transform: none
    }


}