:root {
    --theme-color: #0f1535;
    --dark-color: #111111;
    --orange-color: #df9438
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main .Dashcontainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

main .Dashcontainer .two h1 {
    text-transform: capitalize;
    color: #67b0fe;

}

main .Dashcontainer .two {
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

main .Dashcontainer .two .box {
    background: linear-gradient(to right, #1c3a72, #021c4c, #010d23);
    /* background-color: #01112f; */
    border: 2px solid rgb(19, 37, 80);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .4s ease;

}

main .Dashcontainer .two .box:hover{
    box-shadow: 0px 0px 5px 1px #1c3a72;
    background: linear-gradient(to right,  #010d23, #021c4c,#1c3a72);
    transform: translateY(-5px);
    
}
main .Dashcontainer .two .box i{
   transition: .2s ease;
   
    
}
main .Dashcontainer .two .box:hover i{
    text-shadow: 0px 10px 5px  rgb(0, 0, 0);
    transform: scale(1.1);
   
    
}

main .Dashcontainer .two .box .details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

main .Dashcontainer .two .box i {
    font-size: 3.5rem;
    color: #1c44f3;
}

main .Dashcontainer .two .box .fa-arrow-right {
    font-size: 1rem;
    color: white;
}

main .Dashcontainer .two .box .view {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* background-color: rgb(6, 6, 55); */
}

main .Dashcontainer .two .box a {

    text-decoration: none;
    color: white;
}

main .Dashcontainer .two .box h1 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

main .Dashcontainer .two .box h2 {
    color: rgba(255, 255, 255, 0.792);
    font-size: 1rem;
}

main .Dashcontainer .two .box h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    color: white;
}

main .Dashcontainer .two .one {
    /* background:linear-gradient(to right ,#0665E9 ,#82b6ff) ; */
    background-color: #01112f;
    border: 2px solid rgb(19, 37, 80);
}

main .Dashcontainer .two .two {
    background-color: #01112f;
    border: 2px solid rgb(19, 37, 80);
}

main .Dashcontainer .two .three {
    background-color: #01112f;
    border: 2px solid rgb(19, 37, 80);
}


@media screen and (max-width:800px) {


    main .Dashcontainer .two {
        gap: 25px;
        display: flex;
        flex-direction: column;
    }

    main .Dashcontainer .two .box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }

    main .Dashcontainer .two h1 {
        text-transform: capitalize;
        color: #67b0fe;
        font-size: 1.5rem;
    }


}