:root {
    --theme-color: #0f1535;
    --dark-color: #111111;
    --orange-color: #df9438
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main .Dashcontainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

main .Dashcontainer .two h1 {
    text-transform: uppercase;
    color:black;
}

main .Dashcontainer .two {
    gap: 25px;
    display: flex;
}

main .Dashcontainer .two .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 40px;
   
    border-radius: 5px;
}

main .Dashcontainer .two .box .details{
    text-align: center;
}

main .Dashcontainer .two .box i{
    font-size: 3rem;
}

main .Dashcontainer .two .box h1 {
    font-size: 3rem;
    color: blue;
}

main .Dashcontainer .two .box h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    color: white;
}

main .Dashcontainer .two .one{
    background:linear-gradient(to right ,#0665E9 ,#82b6ff) ;
}
main .Dashcontainer .two .two{
    background:linear-gradient(to right ,#F94765,#ff9bab) ;
}
main .Dashcontainer .two .three{
    background:linear-gradient(to right ,#039767,#7aeec9) ;
}


@media screen and (max-width:600px) {


    main .Dashcontainer .two {
        gap: 25px;
        display: flex;
        flex-direction: column;
    }


}